.america-bg {
  background-image: image-url('america-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.america-title {
  height: 150px;
  text-align: center;
  line-height: 150px;
  font-size: 100px;
  font-weight: bold;
  color: white;
}

.user-name-list {
  width: 800px;
  background-color: #00CCFF;
  padding: 4vw;
  margin: auto;
  margin-bottom: 50px;
}

.user-title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-bottom: 50px;
}

.user-info {
}

.all-user-list {
  text-align: center;
  line-height: 80px;
  font-size: 30px;
  font-weight: bold;
  height: 80px;
  background-color: white;
}

.user-list {
  text-decoration: none;
  color: black;
}