* {
  box-sizing: border-box;
}

.header {
  height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
  font-weight: bold;
}

.header-left {
  font-size: 50px;
}

.header-right {
  display: flex;
  list-style: none;
  font-size: 30px;
}

.user-name {
  text-decoration: none;
  color: white;
  margin-right: 3vw;
}


.logout {
  text-decoration: none;
  color: white;
}

.header-login {
  text-decoration: none;
  margin-right: 30px;
  color: white;
}

.sign-up {
  text-decoration: none;
  color: white;
}