.second-header {
  width: 100%;
  min-width: 800px;
  height: 130px;
  background-color: #00CCFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sh-title {
  color: white;
  font-size: 50px;
  font-weight: bold;
}