<div class="america-bg">
  <%= render "shared/header" %>

  <h3 class="america-title">アメリカ</h3>

<%# ユーザー一覧 %>
  <div class='user-america'>
    <h2 class='user-title'>ユーザー一覧</h2>
    <ul class='user-lists'>
      <% @user.each do |users| %>
      <li class='list'>
        <%= link_to user_path(users.id), method: :get do %>
          <div class='user-img-content'>
            <%= image_tag users.image, class: "user-img" %>
          </div>
          <div class='user-info'>
            <h3 class='user-name'>
              <%= users.name %>
            </h3>
          </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
<%# チャット画面のみログイン必須 %>
</div>