.registration-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  background-color: #00CCFF;
  display: flex;
  justify-content: center;
}

.form-wrap {
  width: 50%;
  background-color: white;
  padding-bottom: 70px;
  margin-bottom: 100px;
}

.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
}

.form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.info-text {
  color: #888;
  font-size: 15px;
  margin-top: 3px;
}

.indispensable {
  color: red;
}

.reg-c-select {
  display: flex;
  justify-content: center;
}

.form-info-header {
  font-weight: bold;
}

.form-info-text {
  font-size: 15px;
}

.form-bottom-text {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.form-bottom-text:last-child {
  margin: 0;
  padding-bottom: 50px;
}

.form-bottom-text>span {
  color: #0099e8;
  cursor: pointer;
}

.register {
  width: 50%;
  margin: 0 auto;
}

.register-btn {
  width: 100%;
  background: #00CCFF;
  border: none;
  color: black;
  font-size: 18px;
  line-height: 48px;
  cursor: pointer;
}

.register-info {
  margin: 30px 180px 0 0;
  color: #0099e8;
  text-align: right;
  cursor: pointer;
}